
   .carousel-item {
        margin: 0;
        .carousel-item-content {
            border-radius: 3px;
            text-align: center;
            h5{
                margin: 0;
                line-height: 32px;
            }
        }
        .carousel-image {
            display: inline-block;
            height: 30vh;
            object-fit: contain;
        }
    }

 